
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    position: relative;
    max-width: 900px;
    width: 90%;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    z-index: 10;
    
}

.message-error {
    color: rgb(255, 0, 238);
}


.invoice-box {
    
    background: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    width: 100%;
    margin: 0;
    position: relative;
}

.logo-empresa {
    height: 30px;
    margin-right: 8px;
}

.logo-text {
    font-weight: bold;
    font-size: 1.2rem;
    color: #38761d;
}

.header-box {
    background-color: #e6ffe6;
    
    border: 1px solid #cceeff;
    padding: 10px;
    border-radius: 5px;
    font-size: 0.9rem;
}

.info-clientes {
    font-size: 0.85rem;
}


.table-sm {
    font-size: 0.85rem;
}


.total-table {
    width: auto;
    float: right;
    font-size: 0.75rem;
}

.total-table td {
    padding: 0.2rem 0.3rem;
}

.info-totales {
    font-size: 0.85rem;
}